/* Created by: MariaG
* Created on: May 25, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit5-03-HTML-Factorial
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  padding: 30px;
  background-color: #751c66;
}

#pink-background {
  padding: 20px 60px;
  background-color: #fde3f5;
}

#styled-button {
  background-color: #29b89e;
  color: white;
  border: none;
  padding: 10px;
}

#results {
  background-color: #fefeba;
  padding: 20px 60px;
  margin-top: 30px;
}
